@import "tailwindcss";

@font-face {
  font-family: "Mont Heavy";
  src: url("/assets/fonts/mont/Mont-HeavyDEMO.otf") format("opentype");
}

.font-mont-heavy {
  font-family: "Mont Heavy", sans-serif;
}

.font-lato {
  font-family: "Lato", sans-serif;
}

body {
  font-family: "Inter", sans-serif;
}

.topbar-min-h {
  @apply md:min-h-[101px] min-h-[74px];
}

.sidebar-menu-item {
  @apply relative min-h-[62px] flex items-center text-[#b1b1b1] text-[18px];
}

.sidebar-menu-item.active,
.sidebar-menu-item:hover {
  @apply text-[#2d60ff];
}

.sidebar-menu-item:not(.active):hover {
  @apply text-[#5780ff] opacity-80;
}

.sidebar-menu-item img {
  @apply px-[26px] ml-[18px];
  filter: invert(76%) sepia(4%) saturate(10%) hue-rotate(358deg) brightness(95%)
    contrast(86%);
}

.sidebar-menu-item.active img,
.sidebar-menu-item:hover img {
  filter: invert(29%) sepia(53%) saturate(3471%) hue-rotate(220deg)
    brightness(99%) contrast(104%);
}

.sidebar-menu-item.active::before {
  @apply content-[''] absolute left-[-6px] top-0 w-[12px] h-full bg-[#2d60ff] rounded-full;
}

.topbar-icon {
  @apply hidden md:flex items-center justify-center w-[50px] h-[50px] bg-[#f5f7fa] rounded-full hover:bg-[#f1f1f1];
}

input.search::placeholder {
  color: #718ebf;
}

.header-area {
  @apply flex items-center justify-between min-h-[65px] mt-[5px];
}

.header-area h2 {
  @apply text-[#343C6A] text-[22px] font-semibold tracking-wide;
}

.rounded-card {
  @apply bg-white rounded-[24px] flex items-center justify-center overflow-hidden;
}

.c-card-0 {
  @apply text-white;
}

.c-card-0 .c-card-top {
  @apply bg-gradient-to-br from-[#4b48ed] to-[#110cf4];
}

.c-card-0 .c-card-bottom {
  @apply bg-gradient-to-br from-[#5e5bf0] to-[#0f0bf4];
}

.c-card-0 h4 {
  @apply text-white;
}

.c-card-0 h5 {
  @apply text-white/70;
}

.c-card-1 {
  @apply text-[#343C6A] border border-[#DFEAF2] box-border;
}

.c-card-1 .c-card-bottom {
  @apply border-t border-[#dfeaf2];
}

.c-card-1 h4 {
  @apply text-[#718EBF];
}

.c-card-1 h5 {
  @apply text-[#718EBF];
}

.quick-transfer-user.active p {
  @apply font-bold;
}
